BODY,
H2,
H3,
H4,
H5,
H6,
TH,
TD {
    font-family: arial, helvetica, sans-serif;
}

H1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}

svg {
    background-color: rgb(41, 41, 36);
}

p.highlight {
    color: red;
}

.car {
    fill: rgb(255, 161, 203);
  }

.plank {
    fill:rgb(112, 79, 79);
    }

.crocodile {
    fill: green;
    /* fill:green; */
    /* border-left: 20px solid red; */
    width:200;
    }

.crocodilehead{
    fill: yellow;
    }

.gameover {
    font-family:Papyrus;
    font-size:80px;
    font-weight: bold;
    fill:red;
}

.gameover_instruction{
    font-family:Papyrus;
    font-size:30px;
    font-weight: bold;
    fill:red;
}

.win {
    font-family:Tahoma;
    font-size:40px;
    font-weight: bold;
    stroke:black;
    stroke-width:1px;
    fill:rgb(242, 211, 136);
}

.win_instruction{
    font-family:Tahoma;
    font-size:20px;
    font-weight: bold;
    stroke:black;
    stroke-width:1px;
    fill:rgb(242, 211, 136);
}

.target {
    fill:rgb(253, 238, 220);
    stroke:rgb(241, 166, 97);
    stroke-width:2px;
    width: 80;
}

.hidden{
    visibility:hidden;
}

.score{
    font-family:Monaco;
    font-size:30px;
    font-weight: bold;
    fill:white;
}



